<div id="loading" class="loading" ng-show="showLoading">Loading pages...</div>
<!-- Content Header -->
<section class="content-header">
    <h1>
        新媒体基础数据
        <small>添加以及修改球星信息</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#publicTagList">新媒体基础数据</a></li>
        <li class="active">球星管理</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">球星信息列表</h3>
            <div class="box-tools">
                <div class="input-group pull-left">
                    <input type="text" class="form-control input-sm" ng-model="searchField" placeholder="球星名称" />
                    <div class="input-group-btn">
                        <button class="btn btn-sm btn-default" ng-click="reload()"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="pull-right">
                    <a href="#savePublicPlayer/2/-1" class="btn btn-default btn-sm"  data-toggle="modal">
                        <i class="fa fa-plus-circle"></i> 新增
                    </a>
                </div>
            </div>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>球星名称</th>
                    <th>简介</th>
                    <th>国籍</th>
                    <th>粉丝</th>
                    <th>状态</th>
                    <th>排序号</th>
                    <th>操作</th>
                </tr>
                <tr ng-repeat="public in datas">
                    <td>{{public.name}}</td>
                    <td>{{public.intro}}</td>
                    <td>{{public.country}}</td>
                    <td>{{public.fansCount}}</td>
                    <td>{{public.enableStatus|renderFlag}}</td>
                    <td>{{public.sortNum}}</td>
                    <td>
                        <a href="#savePublicPlayer/2/{{public.id}}" id="updateBtn" title="编辑"><i class="fa fa-edit"></i></a>
                        <a href="javascript:;" title="删除" data-toggle="modal" ng-click="deleteMediaPublic($index)"><i class="fa fa-remove"></i></a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix">
            <p class="pull-left">
                共<span>{{itemCount}}</span>条记录，
                当前是第<span>{{currentPage}}/{{pageCount}}</span>页
            </p>
            <ul id="pagination"></ul>
        </div>
    </div>



</section>
