<div id="loading" class="loading" ng-show="showLoading">Loading pages...</div>
<!-- Content Header -->
<section class="content-header">
    <h1>
        新媒体信息发布
        <small>维护新闻信息</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#newstypeList">新媒体信息发布</a></li>
        <li class="active">新闻管理</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">添加/修改新闻信息</h3>
            <div class="box-tools">
                <a href="javascript:history.go(-1)" class="btn btn-default btn-sm">
                    <i class="fa fa-reply"></i> 返回
                </a>
            </div>
        </div>
        <div class="box-body no-padding">
            <form novalidate name="addFormSpace" ng-submit="saveMediaPublic(addFormSpace.$valid)">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="hidden"  ng-model="public.id"/>
                                    <label>新闻标题</label>
                                    <input type="text" name="title" ng-model="public.title" class="form-control" required ng-maxlength="40"/>
                                    <div class="help-block help-block-error" ng-show="(submitted||addFormSpace.title.$dirty) && addFormSpace.title.$invalid">请输入40字以内的新闻标题！</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>分类</label>
                                    <select name="type" ng-model="public.type" ng-change="typeChange($event)" ng-options="x.id as x.name for x in typeOptions" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label></label>
                                    <select name="typeId" ng-model="public.typeId" ng-options="x.id as x.name for x in typeIdOptions" class="form-control" required></select>
                                    <div class="help-block help-block-error" ng-show="(submitted||addFormSpace.typeId.$dirty) &&addFormSpace.typeId.$invalid">新闻类别不能为空！</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>作者</label>
                                    <input type="text" name="author" ng-model="public.author" class="form-control" required/>
                                    <div class="help-block help-block-error" ng-show="(submitted||addFormSpace.author.$dirty) &&addFormSpace.author.$invalid">作者不能为空！</div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>来源</label>
                                    <input type="text" name="source" ng-model="public.source" class="form-control" required/>
                                    <div class="help-block help-block-error" ng-show="(submitted||addFormSpace.source.$dirty) &&addFormSpace.source.$invalid">来源不能为空！</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>推荐至首页</label>
                                    <select name="isFirst" ng-model="public.isFirst" ng-options="x.id as x.name for x in isFlagOptions" class="form-control" required></select>
                                    <div class="help-block help-block-error" ng-show="(submitted||addFormSpace.isFirst.$dirty) &&addFormSpace.isFirst.$invalid">不能为空！</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>栏目置顶</label>
                                    <select name="isTop" ng-model="public.isTop" ng-options="x.id as x.name for x in isFlagOptions" class="form-control" required></select>
                                    <div class="help-block help-block-error" ng-show="(submitted||addFormSpace.isTop.$dirty) &&addFormSpace.isTop.$invalid">不能为空！</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>启用状态</label>
                                    <select name="enableStatus" ng-model="public.enableStatus" ng-options="x.id as x.name for x in deleteOptions" class="form-control" required></select>
                                    <div class="help-block help-block-error" ng-show="(submitted||addFormSpace.enableStatus.$dirty) && addFormSpace.enableStatus.$error.required">启用状态不能为空！</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>简述</label>
                                    <input type="text" name="intro" ng-model="public.intro" class="form-control" required ng-maxlength="80"/>
                                    <div class="help-block help-block-error" ng-show="(submitted||addFormSpace.intro.$dirty) &&addFormSpace.intro.$invalid">请输入80字以内简述！</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>缩略图</label>
                                    <input type="file" name="thumbnailUrl" ng-model="public.thumbnailUrl" ng-file-select="onImgSelect($files)" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" ng-show="public.thumbnailUrl!=''">
                                    <img src="{{imgServerPath+public.thumbnailUrl}}" class="img-responsive" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>新闻标签</label>
                                    <label class="no-padding">
										        <span class="label label-default">
										        	<a href="javascript:;" ng-click="showAddTagForm()">
                                                        <i class="fa fa-plus"></i>
                                                    </a>
										        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="checkbox" id="tagDiv">
                                        <label class="no-padding" ng-repeat="flag in tagsArray">
										        <span class="label label-default">
										        	{{flag.name}} <a href="javascript:;" class="tag-del" ng-click="delTag($index)"><i class="fa fa-remove"></i></a>
										        </span>
                                        </label>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>新闻内容</label>
                                    <!-- 加载富文本编辑器 UEditor -->
                                    <script id="UERemarkContainer" name="content" type="text/plain"></script>
                                    <script type="text/javascript">
                                        UE.delEditor("UERemarkContainer");
                                        //初始化编辑器
                                        var ue = UE.getEditor('UERemarkContainer');

                                        //定义插入图片命令
                                        ue.commands['insertpic'] = {
                                            execCommand: function() {
                                                var that = this;
                                                $("#uploadModal").modal({
                                                    backdrop: false
                                                });
                                                return true;
                                            }
                                        };

                                    </script>
                                    <!-- /加载富文本编辑器 UEditor -->
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>
<!-- /Main content -->



<!-- Modals -->
<div class="modal fade" id="uploadModal">
    <form novalidate name="picForm" ng-submit="uploadPicToServer(picForm.$valid)">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">插入图片</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>选择图片</label>
                                <input type="file" class="form-control" ng-file-select="onUploadPicSelect($files)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" id="picBtn">确认</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- /Modals -->



<!-- Modals -->
<div class="modal fade" id="tagModal">
    <div class="modal-dialog">
        <form name="addTagForm" novalidate ng-submit="addTag(addTagForm.$valid)">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">添加标签</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>标签名称</label>
                                <select name="tagName" id="tagId" ng-model="tagName" ng-options="x.id as x.name for x in tagOptions" class="form-control" required></select>
                                <div class="help-block help-block-error" ng-show="addTagForm.tagName.$error.required">标签名不能为空！</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" id="tagBtn">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- /Modals -->