<div id="loading" class="loading" ng-show="showLoading">Loading pages...</div>
    <!-- Content Header -->
    <section class="content-header">
        <h1>
            商品管理
            <small>添加以及查看商品信息</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
            <li><a href="#goodsList">商城管理</a></li>
            <li class="active">商品信息</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">商品列表</h3>
                <div class="box-tools">
                    <div class="input-group pull-left">
                        <input type="text" class="form-control input-sm" ng-model="searchField" placeholder="商品编号/名称/品牌" />
                        <div class="input-group-btn">
                            <button class="btn btn-sm btn-default" ng-click="reload()"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <div class="pull-right">
                        <a href="#saveGoods/-1" class="btn btn-default btn-sm">
                            <i class="fa fa-plus-circle"></i> 新增
                        </a>
                    </div>
                </div>
            </div>
            <div class="box-body no-padding">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th>商品编号</th>
                        <th>商品名称</th>
                        <th>品牌</th>
                        <th>市场价</th>
                        <th>添加日期</th>
                        <th>操作</th>
                    </tr>
                    <tr ng-repeat="good in datas">
                        <td>{{good.no}}</td>
                        <td>{{good.name}}</td>
                        <td>{{good.brand}}</td>
                        <td>{{good.price}}</td>
                        <td>{{good.createTime|longDateTimeRender}}</td>
                        <td>
                            <a href="#saveGoods/{{good._id}}" title="编辑"><i class="fa fa-edit"></i></a>
                            <a href="javascript:;" ng-click="showComments(good._id)" title="查看评论"><i class="fa fa-info-circle"></i></a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="box-footer clearfix">
                <p class="pull-left">
                    共<span>{{itemCount}}</span>条记录，
                    当前是第<span>{{currentPage}}/{{pageCount}}</span>页
                </p>
                <ul id="pagination"></ul>
            </div>
        </div>

    </section>



<!-- Modals -->
<div class="modal fade" id="goodsCommentsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">评论详情</h4>
            </div>
            <div class="modal-body">
                <div class="comment-panel">
                    <div class="chat">
                        <div class="item" ng-repeat="comment in productComments |orderBy:'-time'">
                            <img src="{{imgServerPath+comment._userId.imgUrl}}" alt="" class="online">
                            <p class="message">
                                <a href="javascript:;" class="name">
                                    <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> {{comment.time|longDateTimeRender}}</small>
                                    {{comment._userId.nick}}
                                </a>
                                {{comment.comm}}
                            </p>
                        </div>
                        <div align="center" class="item" ng-show="productComments.length==0">
                            无评论记录
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!-- /Modals -->