<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />

<title>场地</title>
</head>
<body>
<div class="sub_head"><a href="javascript:history.go(-1)" class="fl"><img src="images/icon6.png" /></a><span>领取运动豆</span><a href="index.html" class="fr"><img src="images/icon5.png" /></a></div>
<div class="dodo">
    <div class="dodo_input"><input class="text" type="text" placeholder="输入手机号，立领20元运动豆"  ng-model="mobile"/>
        <div class="dodo_hqyzm"><input type="text" class="text" placeholder="请输入验证码" ng-model="validCode"/><input name="" type="button" id="checkBtn" class="btn-onclick" ng-click="getValidCode()" value="获取验证码" /></div>
        <input type="button" value="马上领取" class="button" ng-click="submitUserSportBean()"/>
    </div>

</div>
</body>
</html>
